@primary-color: #428bca;
@secondary-color: #cacaca;
@primary-text-color: rgb(255, 255, 255);
@secondary-text-color: rgb(27, 27, 27);
@error-text-color: rgb(107, 12, 12);

@header-text-size: 20px;

.width-and-heigth-100 {
    height: 100%;
    width: 100%;
}