@import "../../shared/main-variables.less"; 

:host {
    color: @color-main-background;
    background-color: @primary-color;
    bottom: 0;
    position: absolute;
    max-width: 100%;
    border-top: 4px solid @color-warning;

    & .footer-header {
        margin: 10px 0;
    }

    & .main-footer {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        font-size: 12px;
        padding: 0 20px;

        & .footer-about {
            width: 40%;
        }

        & .footer-item {
            width: 20%;

            & .bestseller-item,
            & .social-item {
                .cursor-pointer();
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}