.main-header {
    background-color: rgb(38, 16, 117);
    color: rgb(240, 248, 255);
    display: flex;
    flex-flow: nowrap row;
    font-weight: bold;
    justify-content: flex-start;
    width: 100%;

    & .nav-button {
        height: 50px;
        width: 200px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.178);
        }
    }
}