<nav class="main-header">
    <div 
        id="menuMobile"
        role="button"
        class="menu-mobile-button nav-button"
        (click)="onClickMenuMobile()"
    >
        <img src="../../assets/menu-more.png" />
    </div>
    <div
        id="banner"
        role="button"
        class="banner-button nav-button"
        (click)="onClickBanner()"
    >
        <img class="banner-img" src="../../assets/OfficeSupplies.png" />
    </div>
    <app-search></app-search>
    <app-cart></app-cart>
</nav>