<nav class="secondary-header">
    <div aria-label="all-our-products" class="secondary-header-button" role="button" (click)="onRedirect($event)">
        <p>All our products</p>
    </div>
    <div aria-label="inspiration" class="secondary-header-button" role="button" (click)="onRedirect($event)">
        <p>Inspiration for the office</p>
    </div>
    <div aria-label="about" class="secondary-header-button" role="button" (click)="onRedirect($event)">
        <p>About</p>
    </div>
    <div aria-label="test-404" class="secondary-header-button" role="button" (click)="onClick404()">
        <p>Test 404</p>
    </div>
</nav>