@import "../../shared/main-variables.less";

:host {
    align-items: center;
    border-right: 2px solid @color-secondary-background;
    display: flex;
    flex-flow: column nowrap;
    height: 400px;
    max-height: 100%;
    width: 300px;
}